@{
    Layout = null;
}
@model TEST.Models.User

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Users Table</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
        table {
            border: 1px solid green;
            margin: auto;
        }

        td {
            text-align: center;
            padding: 5px;
        }

        #main {
            border: 2px gray solid;
            border-radius: 30px;
            margin: 10px 200px;
            height: 720px;
            background-color: white;
            background: linear-gradient(to top, #00BFFF, white, #87CEFA, #00BFFF);
        }
        #Helper li {
            list-style-type: none; 
            margin-left:-10px;
            text-align: left; 
        }
        body {
            background-color: #87CEEB;
        }

            body h3 {
                font-size: 60px;
                color: white;
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: black;
            }
        #table_users{
            background-color: white;
        }
    </style>
</head>
<body style="text-align: center; ">
    <div id="main">
        <p>
            <h3>Users Table</h3>
        </p>
        <p>

            <table border="2" id="table_users">
                <tr>
                    <td>
        <p>First name</p></td>
        <td><p>Last name</p></td>
        <td><p>Age</p></td>
        <td><p>Gender</p></td>
        <td><p>Country</p></td>
        <td><p>Email</p></td>
        <td></td>
        <td></td>
        </tr>
        @foreach (var u in ViewBag.Users)
        {
            <tr>
                <td><p>@u.First_Name</p></td>
                <td><p>@u.Last_Name</p></td>
                <td><p>@u.Age</p></td>
                <td><p>@u.Gender</p></td>
                <td><p>@u.Country</p></td>
                <td><p>@u.Email</p></td>
                <td><p><a href="/Home/Update/@u.Id" class="btn btn-info">Update</a></p></td>
                <td><p><a href="/Home/Delete/@u.Id" class="btn btn-danger">Delete</a></p></td>
            </tr>
        }
        </table>
        </p>


        <p><a href="/Home/Create/" class="btn btn-primary" style="position:absolute; bottom: 60px; ">Create</a></p>

    </div>


    <footer style="position: absolute; bottom: 20px; left: 40px; border: black solid 1px; border-radius: 3px; background-color: white; padding: 2px; ">
        <a href="https://github.com/azamat7087/ASP.NET-Users-Table-Site/tree/final">GitHub</a>
    </footer>
</body>
</html>
